Repository s4005236/wave, pull requests merged in 2025-05, with the labels that each got.

#16 feat: cicd actions
  .github/workflows/pylint.yml
  .pre-commit-config.yaml
  .pylintrc
  README.md
  docs/DevOps/CODE_STYLING.md
  docs/DevOps/DEPENDENCIES.md
  pyproject.toml
  setup_dev.py
  src/core/pyproject.toml
  src/core/setup_dev.py
  src/core/src/core.py
  src/core/src/gesture.py
  src/device/__init__.py
  src/device/setup_dev.py
  src/enums/bodyparts.py
  src/image/__init__.py
  src/image/setup_dev.py
  src/ui/__init__.py
  src/ui/setup_dev.py
Labels: enhancement, DevOps

#17 feat: Parse gestures
  src/core/config.yml.example
  src/core/src/core.py
Labels: enhancement, Core

#18 ref: Change gangster to wave in gesture docs
  docs/GESTURES.md
Labels: documentation
